# Virtual environment
.venv/
venv/

# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg
*.egg-info/

# Data
data/
*.db

# Session files
*.session
*.session-journal

# IDE
.vscode/
.idea/

# Temp
temp/
tmp/
*.tmp

# Logs
*.log
